@use 'app/shared/styles/tokens';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--sa-bg);
  color: var(--sa-text);
  font-family: var(--sa-font);
}

a {
  color: var(--sa-primary);
}
